.main-container
{
    display: grid;
    /* gap: 15px; */
    grid-template: 1fr 4fr /1fr 4fr;
    height: 100vh;
}
.sidebar
{
    background-color: rgb(3, 182, 241);
    grid-area: 1/1/span 2/2;
    color: white;
    padding-left:10%;
    padding-bottom: 10%;
    display: grid;
    justify-content: space-between;
    gap: 2%;
}
svg
{
    fill: white;
}
.top
{
    display: grid;
    gap: 0px;
    grid-template-columns:1fr 1fr ;
    /* margin-right: 10px; */
    /* justify-content: center; */
    align-items: center;
    overflow: hidden;
}
.middle
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 18%;
}
.bottom
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.dashboard
{
    height: 55px;
    margin-right: 10px;
    
}
svg
{
    height: 40px;
    margin-right: 10px;
}
.header
{
    background-color: red;
    /* height: 50%; */
}
.main_body
{
    background-color: rgb(236, 229, 229);
    display: grid;
    grid-template-columns: 2.4fr 1fr;
}

.left
{
    /* background-color:purple; */
    padding: 10px;
}
.leftbody
{
    display: grid;
    height: 70vh;
    grid-template: repeat(3, 1fr)/repeat(2, 1fr);
    gap: 2%;
}
.class_one{
    /* height: 30%;
    width: 45%; */
    background-color: white;
    margin: 10px;
    border-radius: 10px; 
    padding: 20px;
    box-shadow:-5px 0px 0px rgba(255, 0, 0, 1);
    
}
.right
{
    /* background-color: green; */
    padding: 10px;
    
}
.announcements
{
    padding: 10px;
    /* background-color: white; */
}
.content,
.trending
{
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    padding-left: 18px;
    padding-right: 18px;
}